<div ng-controller="EditRequestController as vm">

  <md-toolbar id="TopBarClear" class="md-theme-darkr">
    <h1 style="color : white" class="md-toolbar-tools">Update your Service Request</h1>
  </md-toolbar>
  <!-- <div ng-show=" nav.status.username !(nav.status.username)" style="color: orange"><h2>Please, Register to create and add your Service Request</h2></div> -->
  <br>
  <div layout="row" layout-wrap>
    <!-- <h1 style="color:black; text-align:left;">Product Review here!</h1>
    <br> -->
    <div flex="15"></div>
    <div flex="">
      <form ng-submit="vm.editRequest();">
      <md-content layout-padding class="autoScroll">

        <md-input-container>
          <label class="md-hue-1"> Requested Service </label>
          <input type="text" ng-model="vm.newRequest.RequestedService">
        </md-input-container>

        <md-input-container>
          <label class="md-hue-1"> Description </label>
          <input ng-model="vm.newRequest.description" type="text">
        </md-input-container>

        <md-input-container>
          <label class="md-hue-1"> Day to complete the service </label>
          <input ng-model="vm.newRequest.completed" type="date">
        </md-input-container>

        <md-input-container>
          <label class="md-hue-1"> E-mail </label>
          <input ng-model="vm.newRequest.secondEmail" type="text">
        </md-input-container>

        <md-input-container>
          <label class="md-hue-1"> Phone </label>
          <input ng-model="vm.newRequest.secondPhone" type="text">
        </md-input-container>

        <md-input-container>
          <label class="md-hue-1"> Budget $</label>
          <input ng-model="vm.newRequest.budget" type="text">
        </md-input-container>

        <div layout=row style="text-align: center;">
          <md-button class="md-accent md-raised" ui-sref="DisplayRequest">Cancel</md-button>
          <md-button class="md-accent md-raised" type="submit">Save</md-button>
        </div>
        </form>
      </md-content>

  </div>
  <div flex="15"></div>
  </div>



 </div>
