
<div id="BackgroundColor">
<div ng-controller="HomeController as vm" id="BackgroundColor">
			<br>
		<md-content ng-cloak id="SecondNavClear">
			<md-toolbar>
	      <div class="md-toolbar-tools">
				<h2 style="text-align: center" class="md-toolbar-tools" id="title"> HELP AROUND, a space to Request and Provide Services.</h2>


					<a ui-sref="DisplayRequest" style="text-align: center;"> Check Requests!</a>
					<a ui-sref="DisplayProvide">  </a>

				</div>
		</md-toolbar>
	</md-content>

<br>
<!-- <div layout-wrap layout-align="right">
		<md-button style="color:rgb(39, 171, 171)" class="md-icon-tool" ui-sref="DisplayRequest" class="md-accent md-flat"> Check all the Requested Services </md-button>
		<md-button style="color:rgb(39, 171, 171)" class="md-icon-tool" ui-sref="DisplayProvide" class=" md-accent md-flat"> Check Provider Services </md-button>
</div> -->

</div>
</div>
