<div ng-controller="HomeController as vm">
			<br>
			<br>
			<br>
			

		<md-toolbar class="md-tall md-accent">
			<span flex></span>
				<h2 class="md-toolbar-tools-bottom"> How it works! <h2>
		</md-toolbar>
		<br>
		<br>
		<md-toolbar class="md-tall md-primary">
			<span flex></span>
    		  <md-button class="md-toolbar-tools-bottom" ui-sref="DisplayRequest" class="md-accent md-flat"> Check all the Requested Services </md-button>
    </md-toolbar>
		<br>
    <br>
    <md-toolbar class="md-tall md-accent">
      <span flex></span>
				<md-button class="md-toolbar-tools-bottom" ui-sref="DisplayRequest" class="md-accent md-flat"> Check Provider Services </md-button>
		</md-toolbar>



</div>
