<!-- Registration Form: Sign Up -->
<div layout="column" style="height:500px;" ng-cloak>
   <section layout="colum" flex>

<!-- SIDE NAV RIGHT  -->
    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">

      <md-toolbar style="background-color: white; padding : " class="md-theme-light">
        <h1 style="color : Black" class="md-toolbar-tools" >Register</h1>
      </md-toolbar>

        <md-content  style="background-color: rgba(41, 183, 221, 0.37);; color : white; height: 100%">

    <form ng-submit="nav.registerUser()">
        <md-input-container>
          <label  class="md-hue-1"> Full Name: </label>
          <input ng-model="nav.user.firstName" type="text" required placeholder="Full Name..." ng-required="true">
        </md-input-container>

        <!-- <md-input-container>
          <label  class="md-hue-1"> Last Name: </label>
          <input ng-model="nav.user.lastName" type="text" required placeholder="Last Name..." ng-required="true">
        </md-input-container> -->

        <md-input-container>
          <label  class="md-hue-1"> Username: </label>
          <input ng-model="nav.user.username" type="text" required placeholder="Username..." ng-required="true">
        </md-input-container>

        <md-input-container>
          <label  class="md-hue-1"> E-mail: </label>
          <input ng-model="nav.user.email" type="text" required placeholder="E-mail..." ng-required="true">
        </md-input-container>

        <md-input-container>
          <label  class="md-hue-1"> Password: </label>
          <input ng-model="nav.user.password" type="password" required placeholder="Password..." ng-required="true">
        </md-input-container>

        <md-input-container>
          <label  class="md-hue-1"> Confirm Password: </label>
          <input ng-model="nav.user.password" type="password" required placeholder="Password..." ng-required="true">
        </md-input-container>

        <md-input-container>
          <label  class="md-hue-1"> City: </label>
          <input ng-model="nav.user.city" type="text" required placeholder="City..." ng-required="true">
        </md-input-container>

        <md-input-container>
          <label  class="md-hue-1"> Zip Code: </label>
          <input ng-model="nav.user.zipcode" type="text" required placeholder="Zip Code..." ng-required="true">
        </md-input-container>

        <div ng-show="nav.user.password && nav.user.confirmPassword && !(nav.user.password === nav.user.confirmPassword)" style="color: red">Your passwords must match.</div>

      <!-- Buttons to Register: Submit -->
        <div style="text-align:center">
          <!-- <md-button type="button" ng-click="nav.isLogin = true;" class="md-accent md-raised">Sign In</md-button> -->
          <md-button type="submit" class="md-accent md-raised">Submit</md-button>
        </div>
      </form>


      <div style="text-align: center">
        <md-button style="color : white" ng-click="nav.close()" class="md-accent md-flat">Close Sidenav</md-button>
      </div>
        </md-content>
    </md-sidenav>
  </section>
</div>
